.root{
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius :  30;
    -fx-border-color: #4A20AA ;
    -fx-border-width: 2px ;
    -fx-prompt-text-fill: rgba(74, 32, 170, 0.5);
    -fx-font-size: 32px;
    -fx-font-family: Poppins;
    -fx-font-style: regular;
}
.label{
    -fx-text-fill: rgba(74, 32, 170, 1);
    -fx-font-size: 32px;
    -fx-font-family: Poppins;
    -fx-font-style: regular;
}

.H-box{
        -fx-background-radius :  30;
}
.H-box1{
    -fx-background-color : white;
    -fx-background-radius :  0 0 50 50;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 0, 7, 0, 7);
}
.V-box1{
     -fx-background-color : #EF1837;
}
.button1{
    -fx-background-radius :  50;
    -fx-background-color : #4A20AA;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-family: Poppins;
    -fx-font-style: regular;
}
.button2{
    -fx-border-radius :  30 0 0 30;
    -fx-background-color : white;
    -fx-border-color: #4A20AA ;
    -fx-border-width: 2px ;
    -fx-text-fill: rgba(74, 32, 170, 0.5);
    -fx-font-size: 28px;
    -fx-font-family: Poppins;
    -fx-font-style: regular;
    -fx-padding : 10 px;
}
.button3{
    -fx-background-color : white;
    -fx-border-color: #4A20AA ;
    -fx-border-width: 2px ;
    -fx-text-fill: rgba(74, 32, 170, 0.5);
    -fx-font-size: 28px;
    -fx-font-family: Poppins;
    -fx-font-style: regular;
    -fx-padding : 10 px;
}
.button4{
    -fx-border-radius :  0 30 30 0;
    -fx-background-color : white;
    -fx-border-color: #4A20AA ;
    -fx-border-width: 2px ;
    -fx-text-fill: rgba(74, 32, 170, 0.5);
    -fx-font-size: 28px;
    -fx-font-family: Poppins;
    -fx-font-style: regular;
    -fx-padding : 10 px;
}

.btnSearch{
    -fx-background-radius :  100;
    -fx-background-color : #EF1837;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-family: Poppins;
    -fx-font-style: regular;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 7, 10, 0, 7);
}